html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Acme", sans-serif;
}

button,
#imageinput,
input,
select {
    border: 1px black solid;
    background-color: whitesmoke;
    font-family: "Lobster Two", cursive;
    border-radius: 0.3em;
    box-shadow: 2px 2px 4px 1px #969696;
    margin-right: 1em;
    /*padding: 1%;*/
}

h1 {
    font-family: "Lobster Two", cursive;
    font-size: 5em;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
}

header img {
    grid-area: 1/ 2 / span 1 / span 3;
}

header h1 {
    grid-area: 2/ 2 / span 1 / span 3;
    letter-spacing: 0.2em;
}

span {
    grid-area: 2/ 5 / span 1 / span 1;
    justify-self: center;
    align-self: center;
}

img {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.userinput {
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}

.imggrid {
    display: grid;
    /*background-color: beige;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    /*grid-auto-rows: inherit;*/
    gap: 50px;
    padding: 0 3% 0 3%;
}

#card {
    display: flex;
    flex-direction: column;
    border: 1px midnightblue solid;
    border-radius: 1%;
    box-shadow: 4px 3px 8px 1px #969696;
    width: 100%;
    padding: 2%;
    text-align: center;
}

p {
    font-size: 1em;
    margin: 0.5%;
}

h3 {
    font-size: 1.5em;
    margin: 0.5%;
}

/*.more_button {
    margin-bottom: 3%;
    margin-top: 3%;
    position: sticky;
}*/

.overlay {
    margin: 0;
    padding: 0;
    width: vw;
    height: vh;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    /*display: flex;
    justify-content: center;*/
    backdrop-filter: blur(5px);
}

.modal {
    min-height: 80%;
    width: 80%;
    background-color: white;
    border: 3px black solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 100px;
    /*justify-content: space-around;*/
    /*background-color: teal;*/
    padding: 1em;
}

.border {
    /*width: auto;*/
    width: 95%;
    height: 5em;
    align-self: center;
    margin: 0;
    padding: 0;
}

.image-section {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin-bottom: 20em;
}

.add_comment {
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.divider {
    height: 2em;
}

.comment_sec {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin-bottom: 5%;
}

/*.hidemore {
    visibility: hidden;
}*/

#modalimg {
    height: 35em;
    margin-top: 2em;
}

#main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
